.text-border{
    text-shadow: 1px 0 0 #000,
    -1px 0 0 #000, 0 1px 0 #000,
    0 -1px 0 #000, 1px 1px #000,
    -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000 !important;
}

.pt-8{
    padding-top: 8rem;
}

.pt-2{
    padding-top: 2rem;
}

.pb-3{
    padding-bottom: 3rem;
}

.otext-white{
    color: #fff !important;
}

.btn-whatsapp {
    z-index: 1000;
    position: fixed;
    border-radius: 0 100px 100px 0;
    bottom: 25%;
}

.misionvision{
    background-color: #1ab394;
    color: #fff !important;
}

.cursos{
    background: #1ab3945c;
    background: -webkit-linear-gradient(to left, #1FA2FF5c, #1ab394);
    background: linear-gradient(to left, #1FA2FF5c, #1ab394);
    color: #fff !important;
}

